<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog throwExceptions="true" internalLogLevel="Trace" internalLogToConsole="true">
    <extensions>
      <add assembly="NLog.Extensions.AzureStorage" />
    </extensions>
    <targets async="true">
      <target type="ColoredConsole"
              name="Console"
              layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=type,message}" />
      <target type="AzureBlobStorage"
              name="AzureEmulator"
              layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}"
              connectionString="UseDevelopmentStorage=true;"
              container="logtest"
              blobName="${date:universalTime=true:format=yyyy-MM-dd}/${date:universalTime=true:format=HH}.log" />
      <target type="AzureBlobStorage"
              name="Azure"
              layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}"
              connectionString="DefaultEndpointsProtocol=https;AccountName=##AccountName##;AccountKey=##AccountKey##"
              container="${machinename}"
              blobName="${logger}/${date:universalTime=true:format=yy-MM-dd}/${date:universalTime=true:format=mm}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="Console" />
      <logger name="*" minlevel="Trace" writeTo="Azure" />
    </rules>
  </nlog>
<!-- Useful for debugging traffic with Fiddler -->
<!--  <system.net>-->
<!--    <defaultProxy>-->
<!--      <proxy bypassonlocal="False" usesystemdefault="True" proxyaddress="http://127.0.0.1:8888" />-->
<!--    </defaultProxy>-->
<!--  </system.net>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>


