<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=##accountName##;AccountKey=##accountKey;EndpointSuffix=core.windows.net"/>
  </appSettings>
  <nlog throwExceptions="true" internalLogLevel="Debug" internalLogToConsole="true">
    <extensions>
      <add assembly="NLog.Extensions.AzureBlobStorage"/>
      <add assembly="NLog.Extensions.AzureQueueStorage"/>
      <add assembly="NLog.Extensions.AzureDataTables"/>
      <add assembly="NLog.Extensions.AzureEventHub"/>
    </extensions>
    <targets async="true">
      <target type="ColoredConsole" name="Console"
              layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=type,message}"/>
      <target type="AzureBlobStorage" name="AzureEmulator"
              connectionString="UseDevelopmentStorage=true;"
              container="logtest"
              blobName="${date:universalTime=true:format=yyyy-MM-dd}/${date:universalTime=true:format=HH}.log"
              layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}"/>
      <target type="AzureBlobStorage" name="Azure"
              connectionString="${appsetting:storageConnectionString}"
              container="${machinename}"
              blobName="${logger}/${date:universalTime=true:format=yy-MM-dd}/${date:universalTime=true:format=mm}.log"
              layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}"/>
      <target type="AzureDataTables" name="AzureTable"
              tableName="NlogTable"
              connectionString="UseDevelopmentStorage=true;"
              layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}"/>
      <target type="AzureQueueStorage" name="AzureQueue"
              queueName="NlogQueue"
              connectionString="UseDevelopmentStorage=true;"
              layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}"/>
      <target type="AzureEventHub" name="AzureEventHub"
              connectionString="Endpoint=sb://test.servicebus.windows.net/;SharedAccessKeyName=NLog;SharedAccessKey=EventHub"
              eventHubName="NlogHub"
              PartitionKey="0"
              layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="Console"/>
      <logger name="*" minlevel="Trace" writeTo="Azure"/>
      <logger name="*" minlevel="Trace" writeTo="AzureTable"/>
      <logger name="*" minlevel="Trace" writeTo="AzureQueue"/>
    </rules>
  </nlog>
<!-- Useful for debugging traffic with Fiddler -->
  <!--<system.net>
    <defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="True" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
